<h1>Hola!</h1>
<p>Distribuidor ABC le da la bienvenida a nuestra plataforma con la que habilitamos los siguientes servicios:</p>
<ul>
  <li>Como usuario con el role administrador puede configurar una estiba y sus posiciones.</li>
  <li>Como usuario con el role administrador puede crear productos y editarlos.</li>
  <li>Como usuario general puede visualizar los productos registrados </li>
</ul>
<p>Para acceder como usuario administrador o usuario general debe:</p>
<ul>
  <li><strong>Ingresar su usuario y clave</strong>. Proceso login.</li>
</ul>
<p>Esperamos que disfrute de nuestra plataforma.</p>
